<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://fonts.googleapis.com/css?family=Nanum+Pen+Script&display=swap" rel="stylesheet">
</head>
<style>
    div{
    text-align:center;}
    form{
    text-align:center;}
    button{
    width:300px;
    height500px;
    border:none;
    background-color:yellow;}
    p{
    text-align:center;
    font-family: 'Nanum Pen Script', cursive;
    font-size:50px;}


</style>
<body>
<div><img src="https://t1.daumcdn.net/cfile/tistory/997E24475A97EC1F19"></div>
<p>진짜???!!!!</p>
<form method="post" action=".">{% csrf_token %}
    <button type="submit">ADIOS</button>
</form>



</body>
</html>