{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<div class="container">
    <div class="row">
         <div class="col-md-4">

        </div>
         <div class="col-md-4">
            <form method="post" action="."> {% csrf_token %}
                <div class="row form_row">
                    <div class="col-md-6">
                        old_password &nbsp; <span class="glyphicon glyphicon-user"></span>
                    </div>
                    <div class="col-md-6">
                        {{form.old_password}}
                    </div>
                </div>
                 <div class="row form_row">
                    <div class="col-md-6">
                        new_password1 &nbsp; <span class="glyphicon glyphicon-globe"></span>
                    </div>
                    <div class="col-md-6">
                        {{form.new_password1}}
                    </div>
                </div>
                 <div class="row form_row">
                    <div class="col-md-6">
                        new_password2  &nbsp; <span class="glyphicon glyphicon-globe"></span>
                    </div>
                    <div class="col-md-6">
                        {{form.new_password2}}
                    </div>
                </div>
                <div>
                    <button type="submit" class="btn btn-danger form_btn">PW CHANGE</button>
                </div>
            </form>
        </div>
         <div class="col-md-4">

        </div>
    </div>
</div>
{% endblock content%}
